<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            {% block lsroudi_classified_ads_content %}
               
            {% endblock lsroudi_classified_ads_content %}
        </div>
    </body>
</html>
