{% extends "LsroudiClassifiedAdsBundle::layout.html.twig" %}

{% trans_default_domain 'LsroudiClassifiedAdsBundle' %}

{% block lsroudi_classified_ads_content %}
            <p>{{ 'add.confirmed'|trans }}</p>
{% endblock lsroudi_classified_ads_content %}            