{% extends "LsroudiClassifiedAdsBundle::layout.html.twig" %}

{% trans_default_domain 'LsroudiClassifiedAdsBundle' %}

{% block lsroudi_classified_ads_content %}
<article>
        <h1>{{ 'list.title'|trans }}</h1>
                    {% for entity in entities %}
                            <div>
                                <h2>{{entity.title}}</h2>
                                <p>entity.description</p>
                            </div>
                    {% endfor %}
        <div style="text-align:center;">
                {% if pager.haveToPaginate %}
                    {{ pagerfanta(pager, 'twitter_bootstrap_translated', {'routeName': 'ad_list'}) }}
                {% endif %}
        </div>
</article>
{% endblock lsroudi_classified_ads_content %}
